body{padding-top: 40px}
.noscript-message{position: fixed;top: 0;left: 0;right:0;z-index: 30000;background-color: #FFCBCB;border-bottom: solid 2px #D00;color: #D00;text-align: center;font-size: 14px;line-height: 1.3em;padding:8px 20px;min-height: 40px}
#header-main {top: 40px !important}
#blank-dimmer{display: none}
#presentation {height: 600px}
.softlight,.presentation-brand-title,.presentation-brand-subtitle,.presentation-menu{opacity: 1}
img.wait {opacity: 1 !important}
.tab:first-child {display: block}